<h1 class="page-header">Pizza Order</h1>
<form (ngSubmit)="onSubmit($event)" [formGroup]="parent">
  <h2 id="detailTitleId" data-test-id="detailTitle">Enter your details</h2>
  <div class="section" formGroupName="details">
    <div class="input">
      <label>
        Name <span class="required">*</span>
        <span
          *ngIf="
            parent
              .get('details')
              .get('name')
              .hasError('required') && parent.get('details').get('name').touched
          "
          class="error"
        >
          Field is required
        </span>
      </label>
      <input formControlName="name" data-test-id="name" type="text" placeholder="Tissue Chu" />
    </div>
    <div class="input">
      <label>
        Email <span class="required">*</span>
        <span
          *ngIf="parent.get('details').get('email').errors && parent.get('details').get('email').touched"
          class="error"
        >
          Field is required
        </span>
      </label>
      <input formControlName="email" type="email" data-test-id="email" placeholder="Enter your email" />
    </div>
    <div class="input">
      <label>
        Confirm Email<span class="required">*</span>
        <span
          *ngIf="parent.get('details').get('confirm').errors && parent.get('details').get('confirm').touched"
          class="error"
        >
          <span
            *ngIf="
              parent
                .get('details')
                .get('confirm')
                .hasError('required')
            "
          >
            Field is required
          </span>
        </span>
        <span
          class="error"
          *ngIf="
            !parent
              .get('details')
              .get('confirm')
              .hasError('required') &&
            parent.get('details').touched &&
            parent.get('details').hasError('nomatch')
          "
        >
          Emails must match
        </span>
      </label>
      <input formControlName="confirm" type="email" data-test-id="confirmEmail" placeholder="Confirm your email" />
    </div>
  </div>
  <div class="section" formGroupName="details">
    <div class="input">
      <label>
        Address <span class="required">*</span>
        <span
          *ngIf="parent.get('details').get('address').errors && parent.get('details').get('address').touched"
          class="error"
        >
          <span
            *ngIf="
              parent
                .get('details')
                .get('address')
                .hasError('required')
            "
          >
            Field is required
          </span>
          <span
            *ngIf="
              parent
                .get('details')
                .get('address')
                .hasError('minlength')
            "
          >
            Min of 3 characters
          </span>
        </span>
      </label>
      <input formControlName="address" type="text" data-test-id="address" placeholder="Jiufen" />
    </div>
    <div class="input">
      <label>
        Postcode <span class="required">*</span>
        <span
          *ngIf="parent.get('details').get('postcode').errors && parent.get('details').get('postcode').touched"
          class="error"
        >
          <span
            *ngIf="
              parent
                .get('details')
                .get('postcode')
                .hasError('required')
            "
          >
            Field is required
          </span>
          <span
            *ngIf="
              parent
                .get('details')
                .get('postcode')
                .hasError('minlength')
            "
          >
            Min of 3 characters
          </span>
        </span>
      </label>
      <input formControlName="postcode" type="text" data-test-id="postcode" placeholder="118" />
    </div>
    <div class="input">
      <label>
        Contact Number <span class="required">*</span>
        <span
          *ngIf="parent.get('details').get('phone').errors && parent.get('details').get('phone').touched"
          class="error"
        >
          Field is required
        </span>
      </label>
      <input formControlName="phone" type="text" data-test-id="phone" placeholder="0912 1108 77" />
    </div>
  </div>

  <app-pizza-creator
    [pizzas]="parent.get('pizzas')"
    (add)="onAddPizza($event)"
    (remove)="onRemovePizza($event)"
    (toggle)="onToggle($event)"
  >
  </app-pizza-creator>

  <app-pizza-summary [parent]="parent" [prices]="prices" [total]="total"> </app-pizza-summary>
</form>

<div>
  <h3>Recipe Reference</h3>
  <table class="table table-hover">
    <tr>
      <th>Pizza Name</th>
      <th>Recipe</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>Seafood</td>
      <td>Shrimp, lobster</td>
      <td><button class="btn btn-outline-info">Edit</button></td>
    </tr>
    <tr>
      <td>Vegetarian</td>
      <td>Mushroom</td>
      <td><button class="btn btn-outline-info">Edit</button></td>
    </tr>
  </table>
</div>
