<div class="pizza-summary">
  <h2 id="summaryTitleId" data-cy="summaryTitle">Order Summary</h2>
  <div class="pizza-summary__pizza" *ngFor="let pizza of parent.get('pizzas').value">
    <div *ngIf="pizza.size">
      <h3>
        {{ pizza.size | titlecase }} Pizza
        <span class="pizza-summary__price">
          {{ prices[pizza.size].base | currency: 'USD':symbol }}
        </span>
      </h3>

      <div class="pizza-summary__toppings">
        <div class="pizza-summary__topping" *ngFor="let topping of pizza.toppings">
          <i class="fa fa-plus"></i>
          <span data-cy="selectedTopping">{{ topping | titlecase }}</span>
          <span class="pizza-summary__price">
            {{ prices[pizza.size].toppings | currency: 'USD':symbol }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="pizza-summary__total-price">Total: {{ total | currency: 'USD':symbol }}</div>

  <button type="submit" class="pizza-summary__button" [disabled]="parent.invalid">
    Place order
  </button>
</div>
